<header class="br-header small" data-sticky="true">
  <div class="container-lg">
      <div class="header-top">
          <div class="header-logo">
              <img [src]="image.src" [alt]="image.alt" />
              <span class="br-divider vertical mx-half mx-sm-1"></span>
              <div class="header-sign">&nbsp;UserFunction</div>
          </div>
          <div class="header-actions">
              <div class="header-links dropdown">
                  <button class="br-button circle small" type="button" data-toggle="dropdown"
                      aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                  </button>
                  <div class="br-list">
                      <div class="header">
                          <div class="title">Acesso Rápido</div>
                      </div><a class="br-item"
                          href="https://joao-eduardo-portfolio.vercel.app/">Meu Website</a><a
                          class="br-item" href="https://joao-eduardo-portfolio.vercel.app/assets/CurriculoDEV-6e43a926.pdf"><i></i>Meu Currículo</a>
                  </div>
              </div><span class="br-divider vertical mx-half mx-sm-1"></span>
              <div class="header-functions dropdown">
                  <button class="br-button circle small" type="button" data-toggle="dropdown"
                      aria-label="Abrir Funcionalidades do Sistema"><i class="fas fa-th" aria-hidden="true"></i>
                  </button>
                  <div class="br-list">
                      <div class="header">
                          <div class="title">Funcionalidades do Sistema</div>
                      </div>
                      <div class="align-items-center br-item">
                          <a href="http://sinda.crn.inpe.br/PCD/SITE/novo/site/index.php"><button
                                  class="br-button circle small" type="button" aria-label="Funcionalidade 1"><i
                                      class="fas fa-chart-bar" aria-hidden="true"></i><span
                                      class="text">Funcionalidade 1</span>
                              </button></a>
                      </div>
                      <div class="align-items-center br-item">
                          <a href="https://www.gov.br/inpe/pt-br/canais_atendimento/ouvidoria"><button
                                  class="br-button circle small" type="button" aria-label="Funcionalidade 2"><i
                                      class="fas fa-headset" aria-hidden="true"></i><span class="text">Funcionalidade
                                      2</span>
                              </button></a>
                      </div>
                      <div class="align-items-center br-item">
                          <a
                              href="https://falabr.cgu.gov.br/publico/Manifestacao/SelecionarTipoManifestacao.aspx?ReturnUrl=%2f"><button
                                  class="br-button circle small" type="button" aria-label="Funcionalidade 3"><i
                                      class="fas fa-comment" aria-hidden="true"></i><span class="text">Funcionalidade
                                      3</span>
                              </button></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="header-bottom">
          <div class="header-menu">
              <div class="header-menu-trigger">
                  <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu"
                      data-target="#main-navigation" id="navigation">
                      <i class="fas fa-bars" aria-hidden="true" (click)="toggleMenu()"></i>
                  </button>
              </div>
              <div class="header-info">
                  <div class="header-title">Acesso a API</div>
                  <div class="header-subtitle">Exercício proposto pela <b>UserFunction</b></div>
              </div>
          </div>
          <div class="header-search">
              <div class="br-input has-icon">
                  <label for="searchbox">Texto da pesquisa</label>
              </div>
              <button class="br-button circle search-close ml-1" type="button" aria-label="Fechar Busca"
                  data-dismiss="search"><i class="fas fa-times" aria-hidden="true"></i>
              </button>
          </div>
      </div>
  </div>
</header>
<style>
  * {
      position: relative;
      z-index: 10;
  }
</style>
