<div class="col border-not-bottom d-inline-flex rounder-bottom shadow-md-up bg-blue-60 border-blue-20">
    <span class="text-up-01 d-inline-flex ml-6 my-2xh text-weight-bold text-gray-cool-1">Espero que esta carta encontre você bem.</span></div>
<p class="label mb-0 pt-3 ml-3">Meu nome é João Eduardo, e estou entusiasmado em apresentar meu interesse em fazer parte da equipe. Ao revisar as oportunidades disponíveis, percebi que minha experiência e paixão pela tecnologia se alinham perfeitamente com os valores e a missão da empresa.</p>

<p class="label mb-0 pt-3 ml-3">Tenho uma sólida experiência como Desenvolvedor Full Stack, adquirida durante meu período como estagiário no renomado Instituto Nacional de Pesquisas Espaciais (INPE). Durante meu estágio, fui parte essencial de um emocionante projeto de controle de acesso requisitado pela Coordenação Espacial do Nordeste (COENE). Nessa função, tive a oportunidade de trabalhar com tecnologias avançadas, como Node, React, Postgresql e Flask, contribuindo para o desenvolvimento de sistemas robustos e inovadores.</p>

<p class="label mb-0 pt-3 ml-3">Além disso, ao atuar como DevOps, trabalhei para trazer estabilidade e desempenho aos sistemas em produção. Minha expertise em Docker e GitLab CI possibilitou a automação de processos cruciais, facilitando a integração contínua e garantindo a entrega de soluções de alta qualidade.</p>

<p class="label mb-0 pt-3 ml-3">Posteriormente, assumi o papel de Desenvolvedor Front End no INPE, contribuindo para o desenvolvimento de uma plataforma de distribuição e visualização de dados ambientais coletados por satélites do SINDA (Sistema Integrado de Dados Ambientais). Nessa função, meu foco principal foi o Front End, com ênfase no uso do Angular, e trabalhei em estreita colaboração com a equipe utilizando a metodologia ágil Scrum.</p>

<p class="label mb-0 pt-3 ml-3">Minha experiência no ambiente ágil do Scrum me proporcionou habilidades valiosas de auto-organização, permitindo-me enfrentar desafios complexos de forma eficiente e colaborativa.</p>

<p class="label mb-0 pt-3 ml-3">Outro aspecto importante do meu trabalho foi o foco no Continuous Integration (CI) do projeto, buscando tornar a integração de código mais eficiente por meio de builds e testes automatizados. Essa abordagem resultou em melhorias significativas na qualidade do código e na entrega de funcionalidades de maneira mais rápida e confiável.</p>

<p class="label mb-0 pt-3 ml-3">Agradeço desde já a oportunidade de participar do processo seletivo e estou disponível para qualquer etapa adicional que possa ser necessária. Estou ansioso para discutir mais sobre minhas habilidades e experiências em uma entrevista pessoal.</p>

<p class="label mb-0 pt-3 ml-3">Muito obrigado pela consideração. Estou entusiasmado com a perspectiva de fazer parte da equipe e contribuir para o crescimento e sucesso contínuo.</p>

<div class="assinatura">
<p class="label mb-0 pt-3 ml-3 mb-3">Atenciosamente, <a href="https://about.me/joaoeduardo"><p class="label mb-0 pt-1 ml-3 mb-3">João Eduardo Braga</p></a>
</div>


