<!-- Estrutura HTML baseada no template base -->
<br-header></br-header>
<main class="d-flex flex-fill mb-5" id="main">
  <div class="container-lg d-flex">
    <div class="row">
      <br-menu
        class="br-menu push active col-sm-4 col-lg-2 px-0"
        id="main-navigation"
        data-breakpoints="col-sm-4 col-lg-2"
      >
      </br-menu>
      <div class="col mb-5">
        <br-breadcrumb></br-breadcrumb>
        <div class="main-content pl-sm-3 mt-4" id="main-content">
          <h1>Exemplificando o uso de select</h1>
          <div class="br-message warning" role="alert">
            <div class="icon">
              <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true">
              </i>
            </div>
            <div class="content">
              <span class="message-title">Atenção.</span>
              <span class="message-body">
                Esse projeto NÃO ESTÁ PRONTO PARA PRODUÇÃO! Sinta-se à vontade
                para usá-lo como ponto de partida para seu projeto ou como
                exemplo de uso, mas tenha em mente que configurações, melhorias
                e correções precisarão ser feitos.
                <hr />
                Para mais informações acesse o
                <a href="https://gov.br/ds" target="_blank">nosso site</a>.
              </span>
            </div>
            <div class="close">
              <button
                class="br-button circle small"
                type="button"
                aria-label="Fechar"
              >
                <i class="fas fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br-footer style="  position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;"></br-footer>
