h2 {
  margin-bottom: 10px;
}

.pagination {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

input{
  width: 50%;
  position: relative;
  right: -50%;
  bottom: 0;
}

#title {
  width: 30%;
  position: relative;
}
@media (max-width: 991px) {
  #title {
    width: 90%;
  }
}
